<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <body>
    <div class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

          {{ content }}

          <a class="page-link" href="/bucket-list">
            <i class="fas fa-list-ul blue"></i>
            Bucket List
          </a>

          <a class="page-link" href="/career">
            <i class="fas fa-laptop-code yellow"></i>
            Career
          </a>

          <a class="page-link" href="/travel">
            <i class="fas fa-map-marked-alt green"></i>
            Travel
          </a>
        </div>
      </div>
    </div>
  </body>

</html>
